<%= render 'layouts/navigation' %>
<%= render 'layouts/popup', :locals => {:destination => '#furniture'}%>

<section class="furniture" id="furniture">
  <%= link_to 'Back', :back, class: "furniture__return" %>
  <p class="furniture__return-logo">&#x21A9;</p>
  <h1 class="furniture__heading"><%= @furniture.name %></h1>
  <div class="furniture__image"><%= image_tag (@furniture.image_general), class: "furniture__image--1"%></div>
  <div class="furniture__image"><%= image_tag (@furniture.image_detail), class: "furniture__image--2"%></div>
  <div class="furniture__text">
    <p class="furniture__text--description"><%= @furniture.description %></p>
    <p class="furniture__text--dimensions">Dimensiones: <%= @furniture.dimensions %></p>
  </div>
</section>
<%= render 'layouts/footer' %>
